
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    background-color: #E3FDFD;
}


h1{
    color: #66BFBF;
    font-size: 5.625rem; /* 1em is a 16px and rem = rude em */
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
p {
    line-height: 2;
}
hr {

    border: none;
    border-top: 5px dotted #4ca6a6;
    height: 5px;
    width: 5%;
    margin: 100px auto;

}
a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.top-contanier {
    background-color: #E3FDFD;
    position: relative;
    padding-top: 100px;
    padding-bottom: 170px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;

}


.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

  
}
.computer{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.chilli {
    width: 25%;
    float: right;
    margin-left: 30px;
}


.web{
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;
}

.cloud_1{
    position: absolute;
    right: 200px;
    top:150px;
}

.cloud_2 {
    position: absolute;
    left: 200px;
    top:300px;
}


.text-contact {
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }